/* body */
body{
	background-color: #E7E6E1;
	font-size: 15px;
	line-height: 2;
    letter-spacing: 1px;
    font-family: /*"Shin Go Regular",*/"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}


/* article */
article{
	margin-left: 160px;
	float: right;
	width: -webkit-fill-available;
}

nav{
	width: auto;
	min-width: 150px;
	height: 100%;
	position: fixed;
	top: 0px;
	float: left;
	text-align: center;
	background-color: #333;
	color: #E7E6E1;
	box-shadow: 0px 1px 4px 0px rgba(1, 0, 3, 0.75);

}

nav div#title {
	font-size: 1.5em;
}

nav ul {
	padding-left: 0px;
}

nav ul li {
	background-color: #E7E6E1;
	margin: 10px;
}

#menue {
	border-top: 2px solid #E7E6E1;
	border-bottom: 2px solid #E7E6E1;
	margin: 15px 7px;
}


h1 {
	margin-left: 160px;
}

/* div */
h2 + section div {
	background-color:#333 ;
	color: #E7E6E1;
	padding: 10px;
	margin-top: -5px;
}


/*p code */


p:first-child code {
	margin: 0px !important;
}

p code{
	background-color:#333 ;
	color: #fff;
	padding: 10px;
	margin: 0px 10px;

}

p code span {
	font-weight: bold;
	background-color: darkred;
	padding: 5px;
}

div p code{
	background-color:none ;
	white-space: nowrap;
}

p.inst {
	background-color:#333 ;
	color: #fff;
	text-align: center;
	float: right;
    position: relative;
    top: -58px;
    min-width: 100px;
}

/* a */
a {
	color: darkred;
}

a:hover {
	background-color: darkred;
	color: #E7E6E1;
}

.inst a{
	color: #E7E6E1;
}

.inst a, li a{
	display: block;
}

/* */
@media screen and (max-width: 900px) {
	nav {
    width: -webkit-fill-available;
    min-width: 150px;
    position: inherit;
    top: 0px;
    text-align: center;
    background-color: #333;
    color: #E7E6E1;
    box-shadow: 0px 1px 4px 0px rgb(1 0 3 / 75%);
	}

	nav div br {
		display: none;
	}

	nav ul li {
		display: inline-block;
		margin: 5px;
		min-width: 110px;
	}

	article {
    float: right;
    width: -webkit-fill-available;
    margin-left: 0px !important;
	}

	h1 {
		margin-left: 0px !important;
	}

	p.inst{
		background-color: #333;
    	color: #fff;
    	padding: 3px;
    	text-align: center;
    	float: unset;
    	position: inherit;
}
	}
}